### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
purchase_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_csv)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# calculate total number of unique players
total_players = purchase_data["SN"].unique()
print(f"Total Number of Players = {len(total_players)}")

Total Number of Players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# calculate number of unique items purchased
unique_items = purchase_data["Item Name"].unique()
total_unique_items = len(unique_items)

# calculate average purchase price
avg_price = purchase_data["Price"].mean()

# calculate total number of purchases
total_purchase = purchase_data["Purchase ID"].count()

# calculate total revenue
total_revenue = purchase_data["Price"].sum()

In [4]:
# create summary data frame
summary_df = pd.DataFrame({"Number of Unique Items":[total_unique_items],
                          "Average Price":[avg_price],
                          "Number of Purchases":total_purchase,
                          "Total Revenue":total_revenue
                          })

# format values in summary data frame
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# display formatted summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# drop duplicate player names to get a new data frame of unique players
cleaned_data = purchase_data.drop_duplicates(subset=["SN"])
cleaned_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
# get unique value counts for gender column and storing it in a new series
gender_count = cleaned_data["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [7]:
# calculate count and percentage of male players
male_players = gender_count.loc["Male"]
percent_male_players = male_players/len(total_players)*100

# calculate count and percentage of female players
female_players = gender_count.loc["Female"]
percent_female_players = female_players/len(total_players)*100

# calculate count and percentage of other or non-disclosed players
other_players = gender_count.loc["Other / Non-Disclosed"]
percent_other_players = other_players/len(total_players)*100

In [8]:
# create and format gender summary table based on the calculations and set index
gender_summary = pd.DataFrame({"Total Count": [male_players, female_players, other_players], 
                               "Percentage of Players": [percent_male_players, percent_female_players, percent_other_players]}, 
                                index = ["Male", "Female", "Other / Non-Disclosed"])

# format values in summary data frame
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)

# display formatted summary data frame
gender_summary

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# grouping purchase_data dataframe by Gender
purchase_by_gender = purchase_data.groupby("Gender")

# calculate purchase count
purchase_count = purchase_by_gender["Purchase ID"].count()

# calculate average purchase price
avg_purchase_price = purchase_by_gender["Price"].mean()

# calculate total purchase
total_purchase = purchase_by_gender["Price"].sum()

# calculate average purchase per person
avg_total_purchase_per_person = total_purchase/gender_count

print(purchase_count)
print(avg_purchase_price)
print(total_purchase)
print(avg_total_purchase_per_person)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [10]:
# create purchase analysis summary table by gender
purchase_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count,
                                         "Average Purchase Price":avg_purchase_price,
                                         "Total Purchase Value": total_purchase,
                                         "Avg Total Purchase per Person":avg_total_purchase_per_person})

# rename index as Gender
purchase_analysis_gender = purchase_analysis_gender.rename_axis('Gender')

# format values in purchase analysis summary table
purchase_analysis_gender["Average Purchase Price"] = purchase_analysis_gender["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_gender["Total Purchase Value"] = purchase_analysis_gender["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_gender["Avg Total Purchase per Person"] = purchase_analysis_gender["Avg Total Purchase per Person"].map("${:.2f}".format)

#display purchase analysis summary table
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# define bins and labels
age_bins = [0,9,14,19,24,29,34,39,50]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [12]:
# perform binning on age column in cleaned_data dataframe and add labels to existing data frame as a new column
cleaned_data["Labels"] = pd.cut(cleaned_data["Age"], age_bins, labels = age_labels)
cleaned_data.head()

<ipython-input-12-ba2a1a86f882>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data["Labels"] = pd.cut(cleaned_data["Age"], age_bins, labels = age_labels)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Labels
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [13]:
# groupby labels and set them as index
age_index = cleaned_data.groupby("Labels")

# calculate total count age in each bin
total_count_age = age_index["Purchase ID"].count()

# calculate percentage of players in each bin
percent_players = total_count_age/len(total_players)*100

print(total_count_age)
print(percent_players)

Labels
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Purchase ID, dtype: int64
Labels
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: Purchase ID, dtype: float64

In [14]:
# create age demographics table
age_demographics = pd.merge(total_count_age, percent_players, on="Labels")

# rename columns in the dataframe
age_demographics = age_demographics.rename(columns={
    "Purchase ID_x":"Total Count", 
    "Purchase ID_y":"Percentage of Players"})


# format value in age demographics table
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)

# remove index name
age_demographics.index.name = None

#display age demographics table
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# perform binning on age column in purchase_data dataframe and add labels to existing data frame as a new column
purchase_data["Labels"] = pd.cut(purchase_data["Age"], age_bins, labels = age_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Labels
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [16]:
# groupby labels and set them as index
purchase_data_by_age = purchase_data.groupby("Labels")
purchase_data_by_age

In [17]:
# calculate purchase count
purchase_count_age = purchase_data_by_age["Purchase ID"].count()

# calculate average purchase price
avg_purchase_price_age = purchase_data_by_age["Price"].mean()

# calculate total purchase
total_purchase_age = purchase_data_by_age["Price"].sum()

# calculate average purchase per person by dividing total purchase in each bin by unique total count in each bin
avg_total_purchase_per_person_age = total_purchase_age/total_count_age

print(purchase_count_age)
print(avg_purchase_price_age)
print(total_purchase_age)
print(avg_total_purchase_per_person_age)

Labels
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64
Labels
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64
Labels
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64
Labels
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [18]:
# merge purchase count age and average purchase price dataframe into a new dataframe
purchase_analysis_by_age = pd.merge(purchase_count_age, avg_purchase_price_age, on="Labels")

# merge total purchase dataframe into purchase analysis by age dataframe
purchase_analysis_by_age = pd.merge(purchase_analysis_by_age, total_purchase_age, on="Labels")

# add average total purchase per person age series as the column in dataframe
purchase_analysis_by_age ["Avg Total Purchase per Person"] = avg_total_purchase_per_person_age

# rename columns
purchase_analysis_by_age = purchase_analysis_by_age.rename(columns={
    "Purchase ID":"Purchase Count", 
    "Price_x":"Average Purchase Price", 
    "Price_y":"Total Purchase Value"})

# rename axis
purchase_analysis_by_age = purchase_analysis_by_age.rename_axis('Age Ranges')

# format values in purchase analysis summary table
purchase_analysis_by_age["Average Purchase Price"] = purchase_analysis_by_age["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_by_age["Total Purchase Value"] = purchase_analysis_by_age["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_by_age["Avg Total Purchase per Person"] = purchase_analysis_by_age["Avg Total Purchase per Person"].map("${:.2f}".format)

# display purchase analysis by age summary table
purchase_analysis_by_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [19]:
purchase_analysis_by_age = pd.merge(purchase_analysis_by_age, avg_total_purchase_per_person_age, on="Labels")

ValueError: Cannot merge a Series without a name

In [20]:
new = total_purchase_age/avg_purchase_price_age
new

Labels
<10       23.0
10-14     28.0
15-19    136.0
20-24    365.0
25-29    101.0
30-34     73.0
35-39     41.0
40+       13.0
Name: Price, dtype: float64

In [21]:
new_age = pd.merge(purchase_analysis_by_age, new, on="Labels")
new_age

KeyError: 'Labels'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
# groupby purchase data by unique player names
purchase_by_players = purchase_data.groupby("SN")
purchase_by_players

In [23]:
# calculate purchase count
purchase_count_players = purchase_by_players["Purchase ID"].count()
purchase_count_players

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [24]:
# calculate average purchase price
avg_price_players = purchase_by_players["Price"].mean()
avg_price_players

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [25]:
# calculate total purchase price
total_purchase_players = purchase_by_players["Price"].sum()
total_purchase_players

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [26]:
# merge purchase count and average price for each player into a new data frame
player_combined_1 = pd.merge(purchase_count_players, avg_price_players, on="SN")

# merge total purchase for each player with player combined 1 data frame into player spending dataframe
player_spending = pd.merge(player_combined_1, total_purchase_players, on="SN")

# display data frame which has purchase count, average price and total purchase price for each player
player_spending

               Purchase ID   Price_x  Price_y
SN
Adairialis76             1  2.280000     2.28
Adastirin33              1  4.480000     4.48
Aeda94                   1  4.910000     4.91
Aela59                   1  4.320000     4.32
Aelaria33                1  1.790000     1.79
...                    ...       ...      ...
Yathecal82               3  2.073333     6.22
Yathedeu43               2  3.010000     6.02
Yoishirrala98            1  4.580000     4.58
Zhisrisu83               2  3.945000     7.89
Zontibe81                3  2.676667     8.03

[576 rows x 3 columns]

In [27]:
# perform a descending sort on column Price_y which is total purchase file to find the top 5 spender
top_spender = player_spending.sort_values("Price_y", ascending=False)
top_spender.head()

             Purchase ID   Price_x  Price_y
SN
Lisosia93              5  3.792000    18.96
Idastidru52            4  3.862500    15.45
Chamjask73             3  4.610000    13.83
Iral74                 4  3.405000    13.62
Iskadarya95            3  4.366667    13.10

In [28]:
# rename columns in top spender data frame
top_spender = top_spender.rename(columns={"Purchase ID":"Purchase Count",
                                          "Price_x":"Average Purchase Price",
                                          "Price_y":"Total Purchase Value"})

# format values in top spender data frame
top_spender["Average Purchase Price"] = top_spender["Average Purchase Price"].map("${:.2f}".format)
top_spender["Total Purchase Value"] = top_spender["Total Purchase Value"].map("${:.2f}".format)

# display top 5 spender
top_spender.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
# retreive only Item ID, Item Name and Price columns in a new data frame
purchase_data_item = purchase_data.iloc[:,4:]
purchase_data_item.head()

   Item ID                                  Item Name  Price Labels
0      108  Extraction, Quickblade Of Trembling Hands   3.53  20-24
1      143                          Frenzied Scimitar   1.56    40+
2       92                               Final Critic   4.88  20-24
3      100                                Blindscythe   3.27  20-24
4      131                                       Fury   1.44  20-24

In [57]:
# groupby using Item ID and Item Name
item_id_name = purchase_data_item.groupby(["Item ID","Item Name"])
item_id_name

In [58]:
# calculate purchase count for each item name and item id
item_purchase_count = item_id_name["Price"].count()
item_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [79]:
# calculate total purchase for each item name and item id
item_total_purchase = item_id_name["Price"].sum()
item_total_purchase

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [60]:
# calculate item price for each item name and item id
item_price = item_id_name["Price"].mean()
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [80]:
# merge purchase count and item price values in a new data frame item combined1
item_combined1 = pd.merge(item_purchase_count, item_price, on=("Item ID","Item Name"))

# rename columns
item_combined1 = item_combined1.rename(columns = {"Price_x":"Purchase Count",
                                                  "Price_y":"Item Price"})

item_combined1.head()

                            Purchase Count  Item Price
Item ID Item Name
0       Splinter                         4      1.2800
1       Crucifer                         4      2.9425
2       Verdict                          6      2.4800
3       Phantomlight                     6      2.4900
4       Bloodlord's Fetish               5      1.7000

In [102]:
# merge previous data frame and total purchase into a item combined final dataframe
item_combined_final = pd.merge(item_combined1, item_total_purchase, on=("Item ID","Item Name"))

# rename column
item_combined_final = item_combined_final.rename(columns = {"Price":"Total Purchase Value"})

# display combined dataframe with all the three columns
item_combined_final.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4      1.2800                  5.12
1       Crucifer                         4      2.9425                 11.77
2       Verdict                          6      2.4800                 14.88
3       Phantomlight                     6      2.4900                 14.94
4       Bloodlord's Fetish               5      1.7000                  8.50

In [103]:
# copy combined dataframe into a new dataframe for formatting
item_combined_format = item_combined_final.copy()

# format values in the data frame
item_combined_format["Item Price"] = item_combined_format["Item Price"].map("${:.2f}".format)
item_combined_format["Total Purchase Value"] = item_combined_format["Total Purchase Value"].map("${:.2f}".format)

# display formatted data frame
item_combined_format.head()

                            Purchase Count Item Price Total Purchase Value
Item ID Item Name
0       Splinter                         4      $1.28                $5.12
1       Crucifer                         4      $2.94               $11.77
2       Verdict                          6      $2.48               $14.88
3       Phantomlight                     6      $2.49               $14.94
4       Bloodlord's Fetish               5      $1.70                $8.50

In [105]:
# perform descending sort on column Purchase Count in formatted dataframe to find the top 5 popular items purchased by the players
popular_item = item_combined_format.sort_values("Purchase Count", ascending=False)

popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [106]:
# perform descending sort on column Total Purchase Value in Item Combined Final dataframe to find most profitable items purchased by the players
profitable_item = item_combined_final.sort_values("Total Purchase Value", ascending=False)
profitable_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

My Summary for this analysis is: